.header{
    display: flex;
    position: fixed;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .main-nav ul{
    display: flex;
    list-style: none;
    font-weight: 800;
    margin-left: 2rem;
  }
  .main-nav a{
    text-decoration: none;
    padding: .5rem;
  }